{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h1>About Us</h1>
        <p>Welcome to Hiss - where the magic of reading meets the allure of listening.

            In the evolving landscape of literature, preferences vary - while many cherish the tactile experience of flipping through pages, others relish the spoken narratives that bring stories to life. Recognizing the diverse ways individuals connect with stories, we've embarked on a mission: to merge the traditional with the auditory, to offer the best of both worlds.
            
            At Hiss, we understand the unique joy of immersing oneself in a well-written tale and the relaxation one feels when a narrative unfolds through spoken words. Some days, you might want to cozy up with a book in a quiet nook, while on others, you might want stories to accompany you on long drives or during household chores.
            
            Our platform celebrates these varied experiences. Whether you're a die-hard bibliophile, an avid audiobook listener, or someone who oscillates between both, Hiss is crafted for you. Here, every click offers a gateway to adventures, insights, and discoveries.
            
            Join us, as we redefine the boundaries of storytelling. Dive into a universe where every tale is just a read or a listen away. Welcome to Hiss. Welcome to a richer experience of stories.</p>
    </div>
{% endblock %}
{% block search_bar %}{% endblock %}
{% block genres_section %}{% endblock %}