{% extends 'base.html' %}

{% block search_bar %}
{% endblock %}

{% block genres_section %}
{% endblock %}

{% block content %}
<div class="container mt-4">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="aesopTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="book-tab" data-toggle="tab" href="#book" role="tab" aria-controls="book" aria-selected="true">About the Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="author-tab" data-toggle="tab" href="#author" role="tab" aria-controls="author" aria-selected="false">About the Author</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="book" role="tabpanel" aria-labelledby="book-tab">
            <img src="{{ url_for('static', filename='psycho_cybernetics.jpg') }}" alt="Aesop's Fables Book Image" class="img-fluid mb-3" width="150px">
            <p>"Psycho-Cybernetics" delves into the idea of the human mind as a self-guiding target system, moving individuals toward the realization of their goals. Maltz presents concepts of self-image, mental rehearsal, and self-affirmation, emphasizing the power of positive thinking and visualization in achieving personal goals.</p>
        </div>
        <div class="tab-pane fade" id="author" role="tabpanel" aria-labelledby="author-tab">
            <img src="{{ url_for('static', filename='maxwell_maltz.jpg') }}" alt="Aesop's Author Image" class="img-fluid mb-3" width="150px">
            <p>Dr. Maxwell Maltz was a cosmetic surgeon who transitioned into psychology and motivational writing after observing the impact of self-image on his patients' lives. His pioneering work in self-image and self-improvement became a cornerstone in the field of personal development.</p>
        </div>
    </div>

</div>
{% endblock %}